<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/css.ejs')%>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="icon" type="image/png" href="../public/images/mw..png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MartWorld</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-md" style="align-items: baseline;">
        <img id='logo' src="../public/images/mw..png"><label class="nam">Mart-World</label>
        <div class="search-box" style="display: flex; flex-direction: row; align-items: baseline;"><h4>Searching Placeholder</h4></div>
        <div class="nav-bar" style="align-items: baseline;">
        <ul>
          <li><i class="fa fa-search" aria-hidden="true"></i>
              <a href="#">Explore</a>
          </li>
          <li><i class="fa fa-home" aria-hidden="true"></i>
              <a href="/main">Home</a>
          </li>
          <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <a href="/cart">Your Cart</a>
          </li>
          <li><i class="fa fa-user" aria-hidden="true"></i>
            <a href="/profile">Profile</a>
          </li>      
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: burlywood;">
  <p>
    Lorem IPsum?
  </p>
  </div>





  <%- include('./partials/js.ejs')%>
  </body>
</html>